{% comment %}Inject @pixelunion/pxs-complementary-products/complementary-product-block begin{% endcomment %}
{% comment %}
  @param block {Object}
  @param wrapper_class {String}
  @param heading {String}
  @param products_per_slide {Integer}
  @param format_currency {Boolean}
  @param crop_thumbnails {Boolean}
  @param wrap_heading {Boolean}
{% endcomment %}

{% liquid
  if settings.product_grid_emphasize_price
    assign wrapper_class = 'complementary-products--emphasized'
  endif

  assign format_currency = format_currency | default: false
  assign wrap_heading = wrap_heading | default: false
  assign crop_thumbnails = crop_thumbnails | default: false
  assign product_limit = 10
%}

<script
  type="application/json"
  data-section-type="static-product-complementary"
  data-section-id="{{ section.id }}__complementary"
  data-section-data
>
  {
  "settings": {
    "limit": {{ product_limit }}
  },
    "productId": {{ product.id | json }},
    "sectionId": {{ section.id | json }}
  }
</script>

<div
  class="
    tab-content
    addons-container
    complementary-products
    {{ wrapper_class }}
  "
  {{ block.shopify_attributes }}
  data-complementary-products
  data-html
>
  {% if recommendations.performed and recommendations.products_count > 0 %}
    <div class="addons-wrapper">
      <ul
        class="product-section--content product-row"
        data-product-row
      >
        {% for product in recommendations.products %}
          {% render 'product-grid-item', product: product %}
        {% endfor %}
      </ul>
    </div>

    <style>
      .complimentary-header {
        display: block !important;
      }
    </style>
  {% endif %}

  {% render 'quick-shop' %}
</div>
{% comment %}Inject @pixelunion/pxs-complementary-products/complementary-product-block end{% endcomment %}
