{% comment %}
  @param product {Object}
    The product object

  @param layout {String}
    The layout type

  @param is_product_modal {Boolean}
    Is the snippet being loaded in a Quick shop

  @param is_featured_product {Boolean}
    Is the snippet being loaded in a Featured product

  @param onboarding {Boolean}
    Is there onboarding content

  @param show_dynamic_checkout_button {Boolean}
    If true, show dynamic checkout button

  @param select_first_available_variant {Boolean}
    If true, select the first available variant

  @param gallery_aspect_ratio {String}
    This is the gallery aspect ratio, can be one of 'natural', 'short', 'square', 'long'

  @param gallery_thumbnail_position {String}
    This is the gallery thumbnail position, can be one of 'below', or 'left'

  @param gallery_image_crop {Boolean}
    Whether to crop images

  @param gallery_hover_zoom {String}
    This is the hover zoom setting, which is either 'disabled', 'separate', or 'replace'

  @param gallery_click_to_zoom {String}
    This is the click to zoom setting, which is either 'disabled', 'mobile', 'desktop', or 'always'
{% endcomment %}

{{ 'component-product-tabs.css' | asset_url | stylesheet_tag }}

<script src="{{ 'complimentary-products.js' | asset_url }}" defer="defer"></script>


{% style %}
  .trust-badge {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
  }

  .trust-badge__icon {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
  }

  .trust-badge__icon {
    fill: #1c83c4;
  }

  .trust-badge__icon #svg207 path {
    stroke: #1c83c4 !important;
  }

  .trust-badge__text {
    font-size: 1rem;
    color: #333333;
    margin: 2px 0 0 0;
  }

  .trust-badge.expert img {
    margin-left: 6px;
  }

  .trust-badge.expert .trust-badge__text {
    margin-left: -6px;
  }

  .product-description .station-tabs-tabset {
    display: none !important;
  }
  button.product-form--atc-button {
    height: 54.69px;
  }
  button.swym-add-to-wishlist {
    height: 54.69px;
    border-radius: 3px !important;
  }
  button.swym-button {
    text-transform: none;
    padding: 0 1rem !important;
  }
  .swym-button.swym-add-to-wishlist:after {
    left: 8px;
  }
  .swym-btn-container[data-position='default'] .swym-add-to-wishlist.swym-icontext:after {
    width: 30px;
  }

  .swym-btn-container[data-position=default] .swym-add-to-wishlist.swym-icontext {
    border-radius: 25px !important;
    color: #1d1d1f !important;
    background-color: #fff !important;
    border: 1px solid #1d1d1f;
    font-weight: bold;
    text-indent: unset;
    height: 54.69px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .swym-btn-container .swym-add-to-wishlist.swym-custom:after {
    display: none !important;
  }
  .swym-btn-container[data-position=default] .swym-add-to-wishlist.swym-icontext .swym-wishlist-cta {
    font-size: 14px;
  }
{% endstyle %}

{% liquid
  assign onboarding = onboarding | default: false
  assign layout = layout | default: null
  assign is_featured_product = is_featured_product | default: false

  if layout == 'layout--three-col'
    assign product_form = true
  else
    assign product_form = false
    for block in section.blocks
      case block.type
        when 'form'
          assign product_form = true
          assign show_recipient_form = block.settings.show_gift_card_recipient_form
      endcase
    endfor
  endif

  assign selected_variant = product.selected_variant

  if product.variants.size == 1 or select_first_available_variant or product_form == false
    assign selected_variant = product.selected_or_first_available_variant
  endif

  assign compare_at_price = selected_variant.compare_at_price
  assign price = selected_variant.price
  assign sku = selected_variant.sku
  assign product_available = product.available
%}

{% comment %}For a potential divider in the product.description we need to split the content{% endcomment %}
{% assign readmore_split = product.description | split: '<!-- more -->' %}

{% if onboarding %}
  {% assign compare_at_price = 2999 %}
  {% assign price = 1999 %}
{% endif %}

{% assign on_sale = false %}
{% if compare_at_price > price %}
  {% assign on_sale = true %}
{% endif %}

{% assign consistent_saved = false %}
{% capture consistent_savings %}
  {%
    render 'consistent-savings',
    variants: product.variants,
    on_sale: on_sale
  %}
{% endcapture %}
{% if consistent_savings contains 'true' %}
  {% assign consistent_saved = true %}
{% endif %}

{%- capture share_buttons -%}
  {% assign social_image = false %}
  {% if product.featured_image %}
    {% assign social_image = product.featured_image | img_url: '1024x' %}
  {% endif %}
  {% assign social_url = shop.url | append: product.url %}
  {%-
    render 'share-buttons',
    snippet_title: 'general.share_buttons.title',
    social_image: social_image,
    social_title: product.title,
    social_url: social_url
  -%}
{%- endcapture -%}

<article class="product--outer">
  {% render 'product-gallery',
    product: product,
    select_first_available_variant: select_first_available_variant,
    aspect_ratio: gallery_aspect_ratio,
    thumbnail_position: gallery_thumbnail_position,
    image_crop: gallery_image_crop,
    gallery_click_to_zoom: gallery_click_to_zoom,
    gallery_hover_zoom: gallery_hover_zoom
  %}

  <div class="breadcrumbs-mobile">
    {% render 'breadcrumbs' %}
  </div>

  <div class="product-main">
    <div class="product-details" data-product-details>
      <div class="badges__container product-page">{% render 'product-custom-badge', product: product %}</div>
      {% for block in section.blocks %}
        <div
          class="
            product-block
            product-block--{{ block.type }}
            {% if forloop.first == true -%}
              product-block--first
            {% endif %}
          "
          {{ block.shopify_attributes }}
        >
          {% case block.type %}
            {% when 'title' %}
              {% if is_product_modal %}
                <h2 class="product-title">
                  <a href="{{ product.url }}">{{ product.title }}</a>
                </h2>
              {% else %}
                {% if template == 'index' %}
                  <h2 class="product-title">
                {% else %}
                  <h1 class="product-title">
                {% endif %}
                {% unless onboarding %}
                  {{ product.title }}
                {% else %}
                  {{ 'onboarding.product.title' | t }}
                {% endunless %}
                {% if template == 'index' %}
                  </h2>
                {% else %}
                  </h1>
                {% endif %}
              {% endif %}

            {% when 'vendor' %}
              {% if product.vendor != blank or onboarding %}
                <div class="product-vendor">
                  {% unless onboarding %}
                    {%- capture vendor_handle -%}
                      {{ product.vendor | handle }}
                    {%- endcapture -%}
                    {%- capture vendor_link -%}
                      <a href="/collections/{{ vendor_handle }}">{{ product.vendor }}</a>
                    {%- endcapture -%}
                    {{ 'product.general.by_vendor_html' | t: vendor_link: vendor_link }}
                  {% else %}
                    {{ 'onboarding.product.by_vendor' | t }}
                  {% endunless %}
                </div>
              {% endif %}

            {% when 'inventory_status' %}
              {% for variant in product.variants %}
                {% capture stock_attributes %}
                  data-stock-level
                  data-stock-variant-id="{{ variant.id }}"
                  data-stock-variant-selected="{% if variant == selected_variant %}true{% else %}false{% endif %}"
                {% endcapture %}

                {% render 'product-stock-level',
                  attr: stock_attributes,
                  inventory_display: block.settings.inventory_display,
                  inventory_transfer: block.settings.inventory_transfer_notice,
                  variant: variant,
                  verbose: true
                %}
              {% endfor %}

            {% when 'rating' %}
              {% if product.metafields.reviews.rating.value != blank %}
                <div class="product__rating rating">
                  {% render 'rating-stars',
                    value: product.metafields.reviews.rating.value.rating,
                    scale_max: product.metafields.reviews.rating.value.scale_max
                  %}

                  <p class="rating__text">
                    <span aria-hidden="true">
                      {{ product.metafields.reviews.rating.value }} /
                      {{ product.metafields.reviews.rating.value.scale_max }}
                    </span>
                  </p>

                  <p class="rating__count">
                    <span aria-hidden="true">
                      {{ product.metafields.reviews.rating_count }}
                      {% if product.metafields.reviews.rating_count > 1 %}
                        {{ 'general.accessibility.star_reviews_text' | t }}
                      {% else %}
                        {{ 'general.accessibility.star_review_text' | t }}
                      {% endif %}
                    </span>
                  </p>
                </div>
              {% endif %}

            {% when 'key_details' %}
              {% unless block.settings.title == blank and block.settings.text == blank %}
                <div
                  class="key-details"
                  style="
                    --key-details-text-color: {{ block.settings.text_color }};
                    --key-details-icon-color: {{ block.settings.icon_color }};
                    --key-details-background-color: {{ block.settings.background_color }};
                  "
                >
                  {% if block.settings.image %}
                    {% render 'rimg',
                      img: block.settings.image,
                      class: 'key-details__image',
                      size: '50x50',
                      lazy: true,
                      focal_point: block.settings.image.presentation.focal_point
                    %}
                  {% else %}
                    {% render 'icon-library', id: block.settings.icon, icon_class: 'key-details__icon' %}
                  {% endif %}

                  <div class="key-details__wrapper">
                    {% if block.settings.title != blank %}
                      <p class="key-details__heading">
                        {{ block.settings.title | escape }}
                      </p>
                    {% endif %}

                    {% if block.settings.text != blank %}
                      {{ block.settings.text }}
                    {% endif %}
                  </div>
                </div>
              {% endunless %}

            {% when 'price' %}
              <div
                class="product-pricing"
                aria-live="polite"
                data-product-pricing
              >
                {% render 'product-badge',
                  product: product,
                  class_root: 'product',
                  product_available: product_available,
                  price: price,
                  price_varies: false,
                  compare_at_price: compare_at_price,
                  compare_at_price_varies: false,
                  on_sale: on_sale,
                  show_saved: true,
                  include_range: false,
                  selected_variant: selected_variant
                %}

                {% render 'product-price',
                  product: product,
                  class_root: 'product',
                  price: price,
                  price_varies: false,
                  compare_at_price: compare_at_price,
                  compare_at_price_varies: false,
                  on_sale: on_sale,
                  emphasize_price: false,
                  show_original: true,
                  show_range: false,
                  include_unit_price: true,
                  include_tax_line: true,
                  include_hidden_price: true
                %}

                <form data-payment-terms-target style="display: none;"></form>
              </div>

            {% when 'sku' %}
              {% unless onboarding %}
                <div
                  class="
                    product-sku
                    {% if sku == empty %}product-sku--empty{% endif %}
                  "
                >
                  {{ 'product.general.sku_html' | t: sku: sku | strip_newlines }}
                </div>
              {% endunless %}

            {% when 'sku_price_stock' %}
              <div>

                {% render 'product-stock-levels' %}

                <div>
                  {% comment %} <div
                    class="
                      product-sku
                      {% if sku == empty %}product-sku--empty{% endif %}
                    "
                  >
                    {{ 'product.general.sku_html' | t: sku: sku | strip_newlines }}
                  </div> {% endcomment %}
                  <div
                    class="product-pricing d-none"
                    style="margin: 0;"
                    aria-live="polite"
                    data-product-pricing
                  >
                    {% comment %} {% render 'product-badge',
                      product: product,
                      class_root: 'product',
                      product_available: product_available,
                      price: price,
                      price_varies: false,
                      compare_at_price: compare_at_price,
                      compare_at_price_varies: false,
                      on_sale: on_sale,
                      show_saved: true,
                      include_range: false,
                      selected_variant: selected_variant
                    %} {% endcomment %}

                    {% render 'product-price',
                      product: product,
                      class_root: 'product',
                      price: price,
                      price_varies: false,
                      compare_at_price: compare_at_price,
                      compare_at_price_varies: false,
                      on_sale: on_sale,
                      emphasize_price: false,
                      show_original: true,
                      show_range: false,
                      include_unit_price: true,
                      include_tax_line: true,
                      include_hidden_price: true
                    %}

                    <form data-payment-terms-target style="display: none;"></form>
                  </div>
                </div>
              </div>

            {% when 'description' %}
              {% if readmore_split[0] != blank %}
                <div class="product-description rte" data-product-description>
                  {{ readmore_split[0] }}
                </div>
              {% endif %}

            {% when 'configurator_button' %}
              {% assign button_text = block.settings.configurator_button_text %}
              {% if product.metafields.configurator.button_text != blank %}
                {% assign button_text = product.metafields.configurator.button_text %}
              {% endif %}
              {% render 'configurator-button', button_text: button_text %}

            {% when 'simple_configurator' %}
              {% render 'configurator-simple' %}

            {% when 'basic_configurator' %}
              {% render 'configurator-basic' %}

            {% when 'stock_level' %}
              {% render 'product-stock-levels' %}

            {% when 'form' %}
              <div
                class="product-form--regular"
                data-product-form-regular
              >
                <div data-product-form-area>
                  {% if is_product_modal %}
                    <div data-product-quickshop-message class="product-message--container"></div>
                  {% endif %}

                  {% liquid
                    if product.template_suffix contains 'pre-order'
                      assign show_dynamic_checkout_button = false
                    endif

                    if product.template_suffix contains 'pre-order' and is_product_modal
                      assign enable_local_pickup = false
                    else
                      assign enable_local_pickup = block.settings.enable_local_pickup
                    endif
                  %}

                  {% unless onboarding %}
                    {% render 'product-form',
                      product: product,
                      enable_local_pickup: enable_local_pickup,
                      show_recipient_form: show_recipient_form,
                      show_dynamic_checkout_button: show_dynamic_checkout_button,
                      selected_variant: selected_variant,
                      is_product_modal: is_product_modal
                    %}
                  {% endunless %}
                </div>
              </div>

            {% when 'text' %}
              <div class="product-text">
                {{ block.settings.text }}
              </div>

            {% when 'share' %}
              <div class="product-share">
                {{ share_buttons | strip_newlines }}
              </div>

            {% when 'custom-liquid' %}
              {% if block.settings.custom_liquid != blank %}
                <div class="custom-liquid">
                  {{ block.settings.custom_liquid }}
                </div>
              {% endif %}

            {% when '@app' %}
              <div class="product-app">
                {% render block %}
              </div>

            {% when 'view-product-link' %}
              <a
                class="product-link"
                href="{{ product.url }}"
                data-product-details-link
              >
                {{ block.settings.text | escape }}
              </a>

            {% when 'request_quote' %}
              {% render 'product-request-form',
                product: product,
                heading: block.settings.title,
                show_quantity: block.settings.show_quantity,
                show_message: block.settings.show_message,
                selected_variant: selected_variant,
                sku: sku
              %}
            {% when 'trust_badges' %}
              <div class="trust-badge{% if block.settings.badge_class %} {{ block.settings.badge_class }}{% endif %}">
                {% if block.settings.badge_icon %}
                  <img src="{{ block.settings.badge_icon | image_url: width: 52, height: 52 }}" alt="Trust Badge Icon" width="44px" height="44px" />
                {% endif %}
                {% comment %} {% if block.settings.badge_svg_icon %}
                  <span class="trust-badge__icon">
                    {{ block.settings.badge_svg_icon }}
                  </span>
                {% endif %} {% endcomment %}
                <p class="trust-badge__text">{{ block.settings.badge_text }}</p>
              </div>
            {% when 'divider' %}
              {% render 'divider' %}
            {% when 'shipping_calculator' %}
              {% render 'shipping-calculator' %}
            {% when 'color_swatch' %}
              {% render 'color-swatch-product' product: product, is_product_page: true %}
          {% endcase %}
        </div>
      {% endfor %}

      {% if layout == 'layout--three-col' %}
        <div class="product-form--regular" data-product-form-regular>
          <div data-product-form-area>
            {% if is_product_modal %}
              <div data-product-quickshop-message class="product-message--container"></div>
            {% endif %}

            {% liquid
              if product.template_suffix contains 'pre-order'
                assign show_dynamic_checkout_button = false
              endif

              if product.template_suffix contains 'pre-order' and is_product_modal
                assign enable_local_pickup = false
              else
                assign enable_local_pickup = section.settings.enable_local_pickup
              endif
            %}

            {% unless onboarding %}
              {% render 'product-form',
                product: product,
                enable_local_pickup: enable_local_pickup,
                show_recipient_form: show_recipient_form,
                show_dynamic_checkout_button: show_dynamic_checkout_button,
                selected_variant: selected_variant,
                is_product_modal: is_product_modal
              %}
            {% endunless %}

            {% if section.settings.social_share and is_product_modal == false %}
              {{ share_buttons | strip_newlines }}
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  {% if layout == 'layout--three-col' %}
    <div class="product-form--alt" data-product-form-alt></div>
  {% endif %}
</article>

{% if tabs_below_product_gallery == true %}
  {{ product_tabs }}
{% endif %}

{% if readmore_split[1] != blank and is_featured_product != true and is_product_modal != true %}
  <div class="product-readmore rte" data-product-readmore>
    {{ readmore_split[1] }}
  </div>
{% endif %}

{% render 'tabs-accordion', product: product %}


<script>
  const inventoryCheckData = {
    url: 'https://blue-leaf-bathware-tiles.myshopify.com/api/2024-01/graphql.json',
    query: `{
      node(id: "gid://shopify/Product/{{ product.id }}") {
        ... on Product {
          variants(first: 5) {
            edges {
              node {
                id
                quantityAvailable
              }
            }
          }
        }
      }
    }`,
  };





  const getVariantFromURL = (current) => {
      const param = new URLSearchParams(window.location.search)
      const variant = param.get('variant')
      console.log(variant)
      return !variant ? current : variant
  }
  

  const inventoryAmountCheckCallback = (response) => {
    
    const data = response?.data?.node?.variants?.edges;
    if (!data.length) return;


    console.log(data)
    
    const variants = data.reduce((acc, d) => {
      const { node } = d;
      const id = node.id.split('/').pop();
      console.log(node.quantityAvailable)
      const q = node.quantityAvailable <= 0 ? 0 : node.quantityAvailable 
      acc[id] = q;

      return acc;
    }, {});

        console.log(variants)

    const id = getVariantFromURL('{{selected_variant.id}}');

    const currentVariantQty = variants[id];
    console.log(currentVariantQty, id)

    const stockLevel = document.querySelector('div.stock-level')

    if(!currentVariantQty){
      stockLevel.style.display = 'none'
    }
    else{
      stockLevel.style.display = 'flex'
    }
    
    const qty = document.querySelector('span.colour-stock');
    qty.innerHTML = ` ${currentVariantQty}`;
  };

  const requestInventory = (url, data, callback) => {
        const token = '16722ce33a99f0a8105fc50ba37cd27c';

      fetch(url, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-Shopify-Storefront-Access-Token': token,
        },
        body: data,
      })
        .then((res) => res.json())
        .then((data) => {
          callback(data);
        });
  }

  const inventoryAmountCheck = (url, data, timeout, callback) => {

    return setInterval(() => {
      requestInventory(url, data, callback)
    }, timeout);
  };

  try {
    const initInventory = '{{ selected_variant.inventory_quantity }}';
    
      const data = JSON.stringify({
        query: inventoryCheckData.query,
        variables: {},
      });

      const timeout = 15000;
      inventoryAmountCheck(inventoryCheckData.url, data, timeout, inventoryAmountCheckCallback);
        window.navigation.addEventListener("navigate", (event) => {
            console.log(event)
            requestInventory(inventoryCheckData.url, data, inventoryAmountCheckCallback)
        })
    
    
  } catch (err) {
    console.log(err);
  }
</script>
